<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.Mapper.GoodsMapper">

    <select id="getGoodsList" resultType="com.example.shoppingmall.Domain.Goods">
        SELECT
            rownum
             ,	name
             ,  price
             ,  amount
             ,  discountamount
             ,  discountrate
             ,  deliveryfee
             ,  sellid
             ,  date
             ,  image
             ,  detail
        FROM
            goods
        ORDER by
            rownum ASC
    </select>
    
    <delete id="deleteGoodsList">
		DELETE FROM goods;
	</delete>
	
	<insert id="insertGoodsList">
		INSERT INTO goods(name, price, amount, discountamount, discountrate, deliveryfee, sellid, date, image, detail) VALUES(
		'newname',
		1000,
		2,
		NULL,
		0.03,
		500,
		'id',
		sysdate(),
		'image',
		'www.google.com'
		)
	</insert>
</mapper>