<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.Mapper.GoodsMapper">
	<select id="getGoodsList" parameterType="com.example.shoppingmall.Domain.SearchDto" resultType="com.example.shoppingmall.Domain.Goods">
        SELECT
            id
             ,	name
             ,  price
             ,  amount
             ,  discountamount
             ,  discountrate
             ,  deliveryfee
             ,  sellid
             ,  image
             ,  detail
             ,  modification_time
             ,  insertion_time
        FROM
            goods
        WHERE is_deleted = 0
        <if test='searchValue != null and !searchValue.equals("")'>
        	AND INSTR(name, #{searchValue}) &gt; 0
        </if>
        <if test="searchMinPrice != null">
        	AND price &gt; #{searchMinPrice}
        </if>
        <if test="searchMaxPrice != null">
        	AND price &lt; #{searchMaxPrice}
        </if>
        ORDER by
        <if test='orderBy == null or orderBy.equals("")'>
        	insertion_time DESC
        </if>
       	<if test='orderBy != null and orderBy.equals("priceASC")'>
        	price ASC
        </if>
        <if test='orderBy != null and orderBy.equals("priceDESC")'>
        	price DESC
        </if>
        <if test='orderBy != null and orderBy.equals("dateASC")'>
        	insertion_time ASC
        </if>
        <if test='orderBy != null and orderBy.equals("dateDESC")'>
        	insertion_time DESC
        </if>
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>
    
    <select id="count" parameterType="com.example.shoppingmall.Domain.SearchDto" resultType="int">
        SELECT
            COUNT(1)
        FROM
            goods
        WHERE is_deleted = 0
        <if test='searchValue != null and !searchValue.equals("")'>
        	AND INSTR(name, #{searchValue}) &gt; 0
        </if>
        <if test="searchMinPrice != null">
        	AND price &gt; #{searchMinPrice}
        </if>
        <if test="searchMaxPrice != null">
        	AND price &lt; #{searchMaxPrice}
        </if>
    </select>
    
    <delete id="deleteGoodsList">
		UPDATE goods SET is_deleted = 1;
	</delete>
</mapper>