<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.Mapper.SearchMapper">
	<delete id="deleteSearch">
		DELETE FROM search
		WHERE 1=1
		<if test='userId != null and !userId.equals("")'>
		AND userId = #{userId}
		</if>
	</delete>
	
	<select id="selectSearch" resultType="com.example.shoppingmall.Domain.Search">
		SELECT *
		FROM search
		WHERE 1=1
		<if test='userId != null and !userId.equals("")'>
		AND userId = #{userId}
		</if>
	</select>
	
	<insert id="insertSearch" parameterType="java.util.List" >
	    INSERT INTO search(searchValue, price, term, useYn, userId)
	    VALUES 
	    <foreach collection="searchList" item="search" separator=",">
	    (
	          #{search.searchValue}
			, #{search.price}
			, #{search.term}
			, #{search.useYn}
			, #{search.userId}
	    )
	    </foreach>
	</insert>
</mapper>